.hightlightSummary {
    border: 2px solid yellow;
    background: white;
    padding-block: 4px;
    padding-inline: 8px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    border-radius: 4px;
}